logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.
#ESMX_field_dictionary: ./fd.yaml

ESMX_component_list:   ATM OCN
ESMX_attributes::
  Verbosity = high
::

ATM_model:            ESMX_Data
ATM_omp_num_threads:  4
ATM_attributes::
  Verbosity = high
  coordSys = ESMF_COORDSYS_CART
  nx = 10
  ny = 100
  minx = 10
  maxx = 100
  miny = 20
  maxy = 200
::
ATM_import_fields::
  sea_surface_temperature 2 0 100
  sea_surface_salinity 2 0 100
#  sea_surface_height_above_sea_level 2 0 100
::
ATM_export_fields::
  air_pressure_at_sea_level 2 50
  surface_net_downward_shortwave_flux 2 50
  precipitation_flux 2 50
::

OCN_model:            Lumo
OCN_petlist:          0 0
OCN_attributes::
  Verbosity = high
::

startTime:  2012-10-24T18:00:00
stopTime:   2012-10-24T19:00:00

runSeq::
  @900
    ATM -> OCN
    OCN -> ATM
    ATM
    OCN
  @
::
